.right-align {
  text-align: right;
}

#euroValue {
  appearance: textfield;
  -moz-appearance: textfield;
}

#euroValue::-webkit-outer-spin-button,
#euroValue::-webkit-inner-spin-button {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

mat-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}